@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
  font-family: 'Open sans', sans-serif;
}

h1 {
  margin: 0;
  text-align: center;
}
h1 .hmmm {
  color: #1393d5;
}

.number {
  background: whitesmoke;
  border: 0.1em solid gray;
  font-weight: bold;
  margin: 0.2em;
  padding: 0.2em;
  text-align: center;
}

iframe {
  border: 0.3em solid #999;
  display: block;
  margin: 0 auto;
  max-width: 56em !important;
}
@media all and (max-width: 57em) {
  iframe {
    border: none;
  }
}


.goback {
  padding: 0.2em;
  position: fixed;
  right: 0em;
  top: 0em;    
}
.goback a {
  color: #1393d5;
  text-decoration: none;
}
@media all and (max-width: 40em) {
  .goback {
    position: static;
    text-align: center;
  }
}